
.info{
	font-family: arial;
	font-size:60px;
	position:relative;
	padding: 20px;
	top:300px;

}


.video{
	position:absolute;
	z-index: 1;
	width:35vw;
	margin-left: 32%;
	margin-top: 2.1%;
	display: show;
}

.video.hide{
	display: none;
}

.page{
	width:100vw;
	height:100vh;
	position: fixed;
	z-index: 1;
	display:show;
}

.yellowbg{
	width:100vw;
	height:100vh;
	position: fixed;
	background-color: yellow;

}


.blankbg{
	width:38vw;
}
.img-bg{
	width:100%;
}
.ezine{
	margin-left: 31%;
	margin-top: 1%;

}

.page .text{
	height:81.2vh;
	overflow: scroll;
}

.text{
	font-family: arial;
	font-size:25px;
	width:33vw;
	position:absolute;
	margin-top:3%;
	margin-left: 33%;
}

.highlight{
	background-color: yellow;
}

.pop-1{
	width:18%;
	position: absolute;
	margin-left: 600px;
	margin-top: 250px;
	z-index: 1;
	visibility: hidden;
}

.p-show{
	visibility:visible;
}

.pnav-link{
	font-family: arial;
	font-size:60px;
	position: fixed;
	z-index: 4;
	padding:20px;
	width:100%;
	bottom:0px;
	display:inline-block;
	text-align: center;
	cursor:pointer;
}

.pnav-popup{
	align-items:center;
	justify-content:center;
	position: relative;
	z-index: 2;
	height:100vh;
	width:100vw;
	position:fixed;
	top:0px;
	left:0px;
	display:none;
	align-items:center;
	justify-content:center;
}


.pnav-popup.show{
	display:flex;
}

.my1{
	font-family: arial;
	font-size:25px;
	width:33vw;
	position:absolute;
	z-index: 1;
	margin-left: 450px;
	margin-top: 110px;

}

.my1-pop{
	position: absolute;
	margin-left: 450px;
	margin-top: 110px;
	z-index: 1;
	display: flex;

}

.my1-pop.show{
	display: flex;
}

.m-show{
	visibility:visible;
}
