
.info{
	font-family: arial;
	font-size:60px;
	position:relative;
	padding: 20px;
	top:300px;

}


.video{
	position:absolute;
	z-index: 1;
	width:35vw;
	margin-left: 32%;
	margin-top: 1%;
	display: show;
}

.video.hide{
	display: none;
}

.page{
	width:100vw;
	height:100vh;
	position: fixed;
	z-index: 1;
	display:show;
}

.yellowbg{
	width:100vw;
	height:100vh;
	position: fixed;
	background-color: yellow;

}


.blankbg{
	width:38vw;
}
.img-bg{
	width:100%;
}
.ezine{
	margin-left: 31%;
}

.page .text{
	height:84vh;
	overflow: scroll;
}

.text{
	font-family: arial;
	font-size:25px;
	width:33vw;
	position:absolute;
	margin-top:2%;
	margin-left: 33%;
}

.highlight{
	background-color: yellow;
}

