body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;

	
}

a {
	
}

.bg {
	transition: 1s;
	opacity: 1;
	position: absolute;
	width: 100vw;
	height:100vh;
	background-image: linear-gradient(to right, #02defe,lime,#fa1819);
}

.s-bg {
	transition: 1s;
	opacity: 1;
	position: absolute;
	width: 100vw;
	height:100vh;
	background-image: linear-gradient(to right, #02defe,#02defe,#02defe,#02defe,#02defe,#02defe,lime,#fa1819);
}

.o-bg {
	transition: 1s;
	opacity: 1;
	position: absolute;
	width: 100vw;
	height:100vh;
	background-image: linear-gradient(to right, #02defe,lime,lime,lime,lime,lime,lime,#fa1819);
}

.f-bg {
	transition: 1s;
	opacity: 1;
	position: absolute;
	width: 100vw;
	height:100vh;
	background-image: linear-gradient(to right, #02defe,lime,#fa1819,#fa1819,#fa1819,#fa1819,#fa1819,#fa1819);
}

/* shrimp #02defe */
/* octopus #2cfa4d */
/* fish #fa1819 */

.grid {
	z-index: 9;
	position: absolute;
	display: flex;
	width: 100vw;
	height: 100vh;

}

.shrimp {
	flex: 0 0 33.33%;
	height: 100vh;
	transition: 1s;
}

.octopus {
	flex: 0 0 33.33%;
	height: 100vh;
	transition: 1s;
}

.fish {
	flex: 0 0 33.33%;
	height: 100vh;
	transition: 1s;
}


.title {
	flex: 0 0 33.33%;
	height: 100vh;
	padding: 20px;

}

.shrimp-title {
	flex: 0 0 33.33%;
	height: 100vh;
	padding: 20px;
}

.shrimp-title img {
	width: 100%;
	height:100%;
}


.octopus-title {
	flex: 0 0 33.33%;
	height: 100vh;
	padding: 20px;
}

.octopus-title img {
	width: 100%;
	height:100%;
}


.fish-title {
	flex: 0 0 33.33%;
	height: 100vh;
	padding: 20px;
}

.fish-title img {
	width: 100%;
	height:100%;
}








/* pages */
.page-grid {
	width: 100vw;
}

.shrimp-page {
	width: 100vw;
	background-color: #02defe;
}

.shrimp {

}

.fish-page {
	background-color: #fa1819;
	width: 100vw;

}

.octopus-page {
	background-color: #2cfa4d;
	width: 100vw;

}


.shrimp-text {
	padding: 30px;
	margin-top: 20px;
	font-family: 'syne-italic';
	font-size: 5vw;
}

.shrimp-img {
	flex:0 0 100%;
	background-color: #02defe;
}

.shrimp-img img {
	width:100%;
}

.fish-img {
	flex:0 0 100%;
	background-color: #fa1819;
}

.fish-img img {
	width:100%;
}

.octopus-img {
	flex:0 0 100%;
	background-color: #2cfa4d;
}

.octopus-img img {
	width:100%;
}
















/* interactive */
.expand {
	flex: 0 0 80%;
	height: 100vh;
	transition: 1s;
}

.narrow {
	flex:0 0 10%;
	height: 100vh;
}

.hide {
	opacity: 0;
}



/* FONT */
@font-face{ 
	font-family: 'syne-italic';
	src: url('../fonts/Syne-italic.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Syne-italic.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}























