body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
}

a {
	color: red;
}

/* When you first edit this file, you can delete everything below here. Remember you should use body to target all elements on the page first and then override them later  */

.nav {
	z-index: 99;
	padding: 20px;
	position: fixed;
	top: 40px;
	right: 300px;
	height:300px;
	/*filter: blur(5px);*/


}

.nav-video {
	z-index: 3;
}

.nav-box {
	border: 4px solid red;
	width: 300px;
	height: 300px;

}

.sidebar {
	position: relative;
	left:300px;
	bottom:297px;

}

.nav-item {

	cursor: pointer;
	background-color: red;
	color: #000;
	text-decoration: none;
	display:inline;
}

span {
	/*background-color: gray;*/
}

.nav-header {
	
	color: gray;

}

.btn-kinect {

}

.cctv {
	position: fixed;
	top: 60px;
	right:250px;
	clip: rect(0px,390px,300px,90px);
	z-index:10;

}

.cctv video{
	
}

.title {
	width: 100vw;
	
}

.title-text {
	font-family: arial black;
	font-size:20vh;
	color: white;
	-webkit-text-stroke: 4px black;
}


.title-bg {
	z-index: 2;
 	width: 100vw;
 	pointer-events: none;
}

.title-bg img {
	z-index: 999;
	width: 100%;
	position: fixed;
}

.research {
	/*border: 2px solid red;*/
	width: 100vw;
	height:100vh;
	display: flex;
	overflow:scroll;
	align-items: center;
}


.research-item {
	flex: 0 0 33.333%;
	padding: 20px;
	transition: 1s;
	cursor: zoom-in;
	z-index: 2;



}

.research-item video{
	padding: 20px;
}


.research-item img {
	width: 100%;
	padding: 20px;

}

.research-item span {
	color: gray;
	font-size: 18px;

}

.essay {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}

.text{
	flex: 0 0 50%;
	padding: 20px;
	color: white;
	margin-right: 50px;

}

.text h1{
	font-size: 45px;

}

.text p{
	margin-bottom: 25px;
	font-size: 20px;
	line-height: 1.1em;

}

.figure {
	flex: 0 0 30%;
	padding: 20px;
	margin-top: 130px;

	color: gray;
	font-size: 14px;
	line-height: 1.2em;

}

.figure img{
	width: 100%;

}










/*interactive classes*/

.hide {
	display: none;

}

.show {
	display: block;

}

.large{
	flex:0 0 49%;
	transition: 1s;
	cursor: zoom-out

}

.active{
	background-color: red;

}

/*nav video hovers*/

.sim1-popup.n-show{
	visibility: visible;
}

.sim1-popup{
	visibility: hidden;
}

.sim2-popup.n-show{
	visibility: visible;
}

.sim2-popup{
	visibility: hidden;
}

.sim3-popup.n-show{
	visibility: visible;
}

.sim3-popup{
	visibility: hidden;
}

.sim4-popup.n-show{
	visibility: visible;
}

.sim4-popup{
	visibility: hidden;
}

.sim5-popup.n-show{
	visibility: visible;
}

.sim5-popup{
	visibility: hidden;
}

.sim6-popup.n-show{
	visibility: visible;
}

.sim6-popup{
	visibility: hidden;
}



/* interactive */
.hide {
	visibility: hidden;
}










