body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
}

a {
	color: red;
}

/* When you first edit this file, you can delete everything below here. Remember you should use body to target all elements on the page first and then override them later  */

.nav {
	z-index: 99;
	padding: 20px;
	position: fixed;
	top: 40px;
	right: 300px;

}

.nav-box {
	border: 4px solid lime;
	width: 300px;
	height: 300px;

}

.sidebar {
	position: relative;
	left:300px;
	bottom:297px;
}

.nav-item {
	background-color: lime;
	color: #000;
	text-decoration: none;
}

.nav-header {
	
	color: gray;

}

.btn-kinect {

}

.cctv {
	position: fixed;
	top: 60px;
	right:250px;
	clip: rect(0px,390px,300px,90px)

}

.cctv video{
	
}

.title {
	width: 100%;
	margin-top: 50px;

}

.title img {
	width: 100%;

}

.research {
	display: flex;
	
}



.research-item {
	flex: 0 0 33.333%;
	padding: 20px;
	transition: 1s;
	cursor: zoom-in;

}

.research-item video{
	
	padding: 20px;
}


.research-item img {
	width: 100%;
	padding: 20px;

}

.research-item span {
	color: gray;
	font-size: 18px;

}

.essay {
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap;
}

.text{
	flex: 0 0 66.666%;
	padding: 20px;

}

.text h1{
	font-size: 45px;

}

.text p{
	margin-bottom: 25px;
	font-size: 25px;

}

.figure {
	flex: 0 0 33.333%;
	padding: 20px;

}

.figure img{
	width: 100%;

}

.figure span{
	color: gray;
	font-size: 18px;
}










/*interactive classes*/

.hide {
	display: none;

}

.show {
	display: block;

}

.large{
	flex:0 0 66.666%;
	transition: 1s;
	cursor: zoom-out

}

.active{
	background-color: red;

}










