body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

.breaks {
	width: 100vw; 
    height: 100vh; 
    position: absolute;
    background-color: white;
}

.myslides { 
    width: 100vw; 
    height: 100vh; 
    position: absolute;
}

.myslides iframe { 
    width: 100%; 
    height: 100%; 

}
