body {
	font-family: glacier,Helvetica,Arial,sans-serif;
	font-size: 12.5vw;
}

a {
	color: white;
	text-decoration: none;
}

.bg {
	background-size: cover;
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	mix-blend-mode: multiply;
}

.bg img {
	width: 100vw;
	height: 100vh;
}

.title {
	width: 100vw;
	padding-left: 1.5vw; 
	padding-right: 1.5vw;
	padding-top: 1.5vw;
	color: white;
	mix-blend-mode: difference;
}

.geographics {
	cursor: pointer;
}

.geographics:hover {
	font-family: times;
	font-style: italic;
}


.for {
	width: 30vw;
	margin-left: 40vw;
}

.geoflags {
	margin-left:20vw;
	width: 60vw;
}

.geoflags a:hover {
	font-family: times;
	font-style: italic;
}

.about {
	width: 100vw;
	padding-left: 1.5vw; 
	padding-right: 1.5vw;
	padding-top: 1.5vw;
	font-family: times;
	font-size: 2.5vw;
	font-style: italic;
	color: white;
	mix-blend-mode: difference;
}

.layer-names {
	padding-left: 1.5vw; 
	padding-right: 1.5vw;
	color: white;
	mix-blend-mode: difference;
/*	-webkit-text-stroke: 2px white;*/
}

.index-row {
	display: flex;
	flex-wrap: wrap;
	padding: 1.5vw;
	z-index: 3;
	width: 100vw;
}

.index-name {
	font-family: times;
	font-style: italic;
	font-size: 5vw;
	color: white;
	mix-blend-mode: difference;
}

.index-graphic {
	display: flex;
	justify-content: center;
	overflow: hidden;
	z-index: 3;
	width: 100vw;
	height: 100vh;

}

.index-graphic iframe {
	text-align: center;
	justify-content: center;
	pointer-events: none;
	width: 95%;
	height:100%;
	z-index: 3;
}





.layers {
	display: none;
}



.my-flags {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -3;
}

.my-flags iframe {
	width: 100%;
	height: 100%;
}











/* FONT */
@font-face{ 
	font-family: 'glacier';
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/glyphworld-glacier-webfont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}





